.scgas-header {
/*  background: #00bfff; */
  margin-top:0px;
}

.header-item {
  display:inline-block;
  vertical-align:middle;
  float:none;
}

.middle-panel {
  margin-left:auto;
  margin-right:auto;
  display:block;
  text-align:center;
}
