<div class="container-fluid">
  <div class="page-header scgas-header">
    <div class="row">
      <div class="col-md-3 header-item">
        <img src="./assets/imgs/img_header.gif" >
      </div>
      <div class="col-md-6 header-item">
        <h1 align="center">SCGAS - Sistema Administrativo</h1>
        <p align="center">Sistema de controle para SCGAS-APP</p>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 middle-panel">
      <div class="panel panel-primary">
        <div class="panel-heading">Login</div>
        <div class="panel-body">

        <!-- Login Form -->
        <form role="form">

        <!-- Username Field -->
            <div class="row">
                <div class="form-group col-md-12">
                  <input class="form-control" id="username" [(ngModel)]="registerCredentials.user" type="text" name="username" placeholder="Usuário" required/>
                </div>
            </div>

            <!-- Content Field -->
            <div class="row">
                <div class="form-group col-md-12">
                    <input class="form-control" id="password" [(ngModel)]="registerCredentials.pass" type="password" name="password" placeholder="Senha" required/>
                </div>
            </div>

            <!-- Login Button -->
            <div class="row">
                <div class="form-group col-md-12">
                    <button class="btn btn-primary" type="submit" (click)="entrar()">Entrar</button>
                </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
